#add-user-text{
    font-size: 32px;
    color:var(--light-color);
    font-weight: bold;
    padding-bottom: 50px;
}
#button-container{
    display: flex;
    justify-content: center;
}

.login {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 20em !important;
  margin: auto;
}
