#page-login {
  height: 100vh;
  display: flex;
}

#logo-bg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}

.app-form-field {
  display: grid !important;
  align-self: center !important;
}

#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  form {
    width: 90%;

    .title-login{
      display: flex;
      justify-content: space-between;
    }

    #add-user-text{
      font-size: 32px;
      color:var(--highlighter-color);
      font-weight: bold;
      padding-bottom: 50px;
    }

    #button-container {
      display: flex;
      justify-content: center;
    }

    .btn {
      background: var(--main-color);
      box-shadow: inset -10px 0px 20px var(--highlighter-color);
      border-radius: 5px;
      color: var(--light-color);
    }

  }

}
