<div id="page-login">
  <div id="logo-bg" class="col-md-7 d-none d-sm-flex">
    <img src="..\..\..\assets\logos\logo_monogram.png" id="logo-monogram">
  </div>
  <div style="border: 1px solid #C4C4C4; height: 50%; display: flex; align-self: center;"></div>
  <div id="login-container" class="col-md-5 col-sm-12 container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="userForm" class="form-group" *ngIf="!isLoading">
      <div id="add-user-text">Bejelentkezés</div>
      <div class="app-form-field">
        <label>E-mail</label>
        <input formControlName="email" type="email" placeholder="Email" required email style="padding: 0.6rem 1rem !important;">
      </div>
      <div class="app-form-field">
        <label>Password</label>
        <input formControlName="password" type="password" placeholder="Password" required password style="padding: 0.6rem 1rem !important;">
      </div>
      <div id="button-container">
        <button mat-raised-button class="btn" (click)="login()">Bejelentkezés</button>
      </div>
    </form>
  </div>
</div>
