<div class="privacy-body">
  <div>
    <div><h1>Adatvédelmi Irányelvek</h1></div>
    <div class="introduction">
      A személyes adatok védelme rendkívül fontos számunkra, ezért a jelen Adatkezelési tájékoztatóban ismertetjük,
      hogy Önről milyen személyes adatot, milyen célból és jogalappal kezelünk. Az Adatkezelési tájékoztató az Önt megillető jogokat is tartalmazza.
    </div>
    <div>
      <h2>Az Adatkezelő adatai:</h2>
      <ul>
        <li>Adatkezelő neve: Magyar Dorina</li>
        <li>Email elérhetőség: magyardorina484@gmail.com</li>
      </ul>
    </div>
    <div>
      <h2>Az adatkezelés alapjául szolgáló általános jogszabályok</h2>
      <ul>
        <li>az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.)
          a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról,
          valamint a 95/46/EK irányelv hatályon kívül helyezéséről (GDPR)</li>
        <li>2011. évi CXII. törvény az információs önrendelkezési jogról és az információszabadságról (Infotv.)</li>
        <li>2013. évi V. törvény a Polgári Törvénykönyvről (Ptk.)</li>
        <li>2007. évi CXXVII. törvény az általános forgalmi adóról (Áfatörvény)</li>
        <li>2000. évi C. törvény a számvitelről (Számviteli tv.)</li>
        <li>1997. évi CLV. törvény a fogyasztóvédelemről (Fgy.tv.)</li>
      </ul>
    </div>
    <div>
      <div><h2>Fogalmak</h2></div>
      <div>
        Személyes adat: azonosított vagy azonosítható természetes személyre („Érintett”) vonatkozó bármely információ;
        azonosítható az a természetes személy, aki közvetlen vagy közvetett módon, különösen valamely azonosító, például név, szám, helymeghatározó adat,
        online azonosító vagy a természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági, kulturális vagy szociális azonosságára vonatkozó egy vagy
        több tényező alapján azonosítható. Ilyen tipikus személyes adatok különösen: név, lakcím, születési hely és idő, anyja neve.
      </div>
      <div>
        Adatkezelés: a személyes adatokon vagy adatállományokon automatizált vagy nem automatizált módon végzett bármely művelet vagy műveletek összessége,
        így a gyűjtés, rögzítés, rendszerezés, tagolás, tárolás, átalakítás vagy megváltoztatás, lekérdezés, betekintés, felhasználás, közlés, továbbítás,
        terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, összehangolás vagy összekapcsolás, korlátozás, törlés, illetve megsemmisítés.
      </div>
      <div>Adatkezelő: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely a személyes adatok kezelésének céljait
        és eszközeit önállóan vagy másokkal együtt meghatározza; ha az adatkezelés céljait és eszközeit az uniós vagy a tagállami jog határozza meg, az Adatkezelőt
        vagy az Adatkezelő kijelölésére vonatkozó különös szempontokat az uniós vagy a tagállami jog is meghatározhatja.</div>
      <div>Adatfeldolgozó: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely az Adatkezelő nevében személyes adatokat kezel.</div>
      <div>Címzett: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, akivel vagy amellyel a személyes adatot közlik,
        függetlenül attól, hogy harmadik fél-e.</div>
    </div>
    <div>
      <div><h2>Alapelvek</h2></div>
      <div>Az Adatkezelő a személyes adatok kezelése során a következő alapelveket veszi figyelembe, így a személyes adatok:</div>
      <ul>
        <li>
          kezelését jogszerűen és tisztességesen, valamint az Érintett számára átlátható módon kell végezni (jogszerűség, tisztességes eljárás és átláthatóság)
        </li>
        <li>gyűjtése csak meghatározott, egyértelmű és jogszerű célból történjen, és azokat ne kezeljék ezekkel a célokkal össze nem egyeztethető módon;
          a GDPR 89. cikk (1) bekezdésének megfelelően nem minősül az eredeti céllal össze nem egyeztethetőnek a közérdekű archiválás céljából, tudományos és történelmi kutatási
          célból vagy statisztikai célból történő további adatkezelés (célhoz kötöttség)</li>
        <li>az adatkezelés céljai szempontjából megfelelőek és relevánsak kell, hogy legyenek és a szükségesre kell korlátozódniuk (adattakarékosság)</li>
        <li>pontosnak és szükség esetén naprakésznek kell lenniük; minden észszerű intézkedést meg kell tenni annak érdekében, hogy az adatkezelés céljai szempontjából
          pontatlan személyes adatokat haladéktalanul töröljék vagy helyesbítsék (pontosság)</li>
        <li>tárolásának olyan formában kell történnie, amely az Érintettek azonosítását csak a személyes adatok kezelése céljainak eléréséhez szükséges ideig teszi lehetővé;
          a személyes adatok ennél hosszabb ideig történő tárolására csak akkor kerülhet sor, amennyiben a személyes adatok kezelésére a GDPR 89. cikk (1) bekezdésének megfelelően
          közérdekű archiválás céljából, tudományos és történelmi kutatási célból vagy statisztikai célból kerül majd sor, az e rendeletben az Érintettek jogainak és szabadságainak
          védelme érdekében előírt megfelelő technikai és szervezési intézkedések végrehajtására is figyelemmel (korlátozott tárolhatóság)</li>
        <li>f.	kezelését oly módon kell végezni, hogy megfelelő technikai vagy szervezési intézkedések alkalmazásával biztosítva legyen a személyes adatok megfelelő biztonsága,
          az adatok jogosulatlan vagy jogellenes kezelésével, véletlen elvesztésével, megsemmisítésével vagy károsodásával szembeni védelmet is ideértve
          (integritás és bizalmas jelleg)</li>
        <li>az Adatkezelő felelős a fentieknek való megfelelésért, továbbá képesnek kell lennie e megfelelés igazolására (elszámoltathatóság)</li>
      </ul>
    </div>
    <div>
      <div><h2>Adatkezelési tevékenység</h2></div>
      <div>
        <div style="margin-bottom: 2rem;">Kapcsolat felvétel</div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adatkazelés célja</div>
          <div>Visszajelzés küldése</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adatkezelés jogalapja</div>
          <div>GDPR 6. cikk (1) bekezdés b) pontja: szerződés megkötése és teljesítése a termék megvásárlása érdekében</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Személyes adatok köre</div>
          <div>Vezetéknév, keresztnév, email cím</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adatmegőrzési idő</div>
          <div>Ptk. 6:22. § alapján a szerződés teljesítését vagy megszűnését követő 5. év végéig</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adattovábbítás</div>
          <div>A GDPR 44-49. cikkei szerinti adattovábbítás nem történik</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adatok forrása</div>
          <div>A személyes adatok forrása a kapcsolatfelvételi űrlapot kitöltő személy</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="margin-right: 5rem;">Adatszolgáltatás módja, következménye</div>
          <div>Az adatok megadása önkéntes.</div>
        </div>
      </div>
    </div>
    <div style="margin-top: 2rem;">
      <div>Város, 2021. ....hó ...nap</div>
    </div>
    <div style="margin-top: 2rem;">
      FIGYELEM!!! Jelen webáruház nem üzemel! Ezek a termékek nem kerülnek értékesítésre!
      Ez a webáruház kifejezetten csak Magyar Dorina 2021-évi szakdolgozati munkájának bemutatására szolgál!
    </div>
  </div>
</div>
