<div class="stepper-page">
  <div [ngSwitch]="stepperOriental | async">
    <div *ngSwitchCase="'horizontal'">
      <mat-horizontal-stepper>
        <mat-step label="Adatok megadása">
          <form [formGroup]="form" (submit)="addShipOrder()">
            <div><h2 class="title-h2">Kapcsolattartás</h2></div>
            <mat-form-field appearance="outline">
              <mat-label>Email-cím</mat-label>
              <input
                matInput
                type="email"
                formControlName="email"
                placeholder="Email-cím"
                required email
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telefonszám</mat-label>
              <input
                matInput
                type="phone"
                formControlName="phone"
                placeholder="pl: 06201111111"
                required
              >
            </mat-form-field>
            <div><h2 class="title-h2">Számlázási adatok</h2></div>
            <mat-form-field appearance="outline">
              <mat-label>Név</mat-label>
              <input
                matInput
                type="text"
                formControlName="fullName"
                placeholder="Teljes név"
                required
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Ország</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Irányítószám</mat-label>
              <input
                matInput
                type="text"
                formControlName="zipCode"
                placeholder="Irányítószám"
                required
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Település</mat-label>
              <input
                matInput
                type="text"
                formControlName="city"
                placeholder="Település"
                required
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Utca, házszám</mat-label>
              <input
                matInput
                type="text"
                formControlName="street"
                placeholder="pl: teszt utca 6"
                required
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Adószám (cég esetén)</mat-label>
              <input
                matInput
                type="text"
                formControlName="taxNumber"
                placeholder="Adószám"
              >
            </mat-form-field>
            <div><h2 class="title-h2">Szállítási adatok</h2></div>
            <mat-checkbox value="checked" (click)="changeValue(checked)">
              <div class="text-white">A szállítási adatok megegyeznek a számlázási adatokkal.</div>
            </mat-checkbox>
            <div *ngIf="!checked" style="display: grid;">
              <mat-form-field appearance="outline">
                <mat-label>Név</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="fullName_transport"
                  placeholder="Teljes név"
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Ország</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Irányítószám</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="zipCode_transport"
                  placeholder="Irányítószám"
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Település</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="city_transport"
                  placeholder="Település"
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Utca, házszám</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="street_transport"
                  placeholder="pl: teszt utca 6"
                >
              </mat-form-field>
            </div>
            <mat-checkbox #confirmed>
              <div class="text-white">*Elfogadom az Általános szerződési feltételeket és az Adatkezelési tájékoztatót.</div>
            </mat-checkbox>
            <div class="data-page-btn">
              <button
                class="btn-secondary"
                [disabled]="!confirmed.checked"
                type="submit" matStepperNext
              >
                Tovább
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Szállítás és fizetés">
          <div class="transport-page-body">
            <div class="transport-left">
              <div><h2 class="title-h2">Szállítás</h2></div>
              <mat-radio-group class="radio-btn-group" (change)="radioChange($event)">
                <mat-radio-button
                  *ngFor="let choice of transport_choice"
                  [value]="choice.value"
                  [disabled]="choice.disabled"
                  class="radio-btn"
                >
                  {{choice.name}}
                </mat-radio-button>
              </mat-radio-group>
              <div><h2 class="title-h2">Fizetés</h2></div>
              <mat-radio-group class="radio-btn-group" (change)="radioChangePay($event)">
                <mat-radio-button
                  *ngFor="let pay of pay_choice"
                  [value]="pay.name"
                  [disabled]="pay.disabled"
                  class="radio-btn"
                >
                  {{pay.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="transport-right">
              <mat-card class="white-box-shadow transport-box">
                <div class="transport-box-title">
                  <h2 class="text-secondary">Megrendelés összege</h2>
                </div>
                <div class="transport-box-body">
                  <div class="box-body">
                    Összesen (bruttó):
                    <div>{{fullPrice._value}} Ft</div>
                  </div>
                  <div class="box-body">
                    Szállítási költség:
                    <div>{{transportPrice}} Ft</div>
                  </div>
                </div>
                <div class="box-line"></div>
                <div class="box-body final-text">
                  Végösszeg:
                  <div>{{grandTotal}} Ft</div>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="data-page-btn">
            <button class="btn-secondary" matStepperNext>Tovább</button>
          </div>
        </mat-step>
        <mat-step label="Megrendelés">
          <div>
            <div>
              <div><h2 class="title-h2">Termék lista</h2></div>
              <div class="box-body final-text">
                <div>Név:</div>
                <div>Darab:</div>
                <div>Ára:</div>
              </div>
              <div *ngFor="let prod of cartsList" class="box-body text-white">
                <div>
                  {{prod.name}}
                </div>
                <div>
                  {{prod.quantity}}db
                </div>
                <div>
                  {{prod.total}}Ft
                </div>
              </div>
              <div>
                <div><h2 class="title-h2">Szállítás és Fizetés</h2></div>
                <div class="box-body final-text">
                  <div>Szállítás:</div>
                  <div>{{transportPrice}}Ft</div>
                </div>
                <div class="box-body final-text">
                  <div>Fizetés:</div>
                  <div>{{payChoice}}</div>
                </div>
              </div>
            </div>
            <div>
              <div><h2 class="title-h2">Összesen</h2></div>
              <div class="box-body final-text">
                Végösszeg:
                <div>{{grandTotal}} Ft</div>
              </div>
            </div>
            <div>
              <div><h2 class="title-h2">Kapcsolattartás</h2></div>
              <div class="box-body text-white">
                <div>Email-cím:</div>
                <div>{{orderList.email}}</div>
              </div>
              <div class="box-body text-white">
                <div>Telefonszám:</div>
                <div>{{orderList.phone}}</div>
              </div>
            </div>
            <div class="order-page-btn">
              <button class="btn-cancel">Mégse</button>
              <button class="btn-secondary" matStepperNext (click)="fullOrder()">Vásárlás</button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Kész">
          Kész is vagyunk megkaptuk a rendelésed!
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div *ngSwitchCase="'vertical'">
      <mat-vertical-stepper>
        <mat-step></mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
