<div class="contact-images">
  <img id="contact-img" src="../../../assets/logos/logo_name.png">
</div>
<div class="contact-text">
  <div class="col contact-text-body">
    Az én nevem Magyar Dorina és az ELTE Informatika Kar Programtervező informatikus alapképzésén tanulok 2017-óta.
    Ebben a félévben kívánom befejezeni a tanulmányaimat sikeres diploma szerzés reményében. Az alábbi weboldalt a szakdolgozatom témájaként készítettem.
    Ezen függvényében az áruház jelen formályában nem forgalmazza és értékesíti a felületen megtalálható termékeket.
    <br>
    Szeretném, hogy ha ezt a weboldalt, mint referencia ként tekintenének rá a látogatók.
    Ha a későbbiekben sikeresen üzembe helyezem a weboldalt ezen a felületen feltüntetésre fog kerülni.
    <br>
    Addig is ha bármilyen meglátásod van a weboldallal kapcsolatban, azt szivesen fogadom a kapcsolat felvétele nevezetű űrlap kitöltésén keresztül.
    Jelen formában az oldalon ez a funkció megfelelően üzemel.
  </div>
  <div class="contact-profile col">
    <div class="profile-header">
      <a id="profile-background"><img src="../../../assets/backgrounds/dektop.PNG"></a>
    </div>
    <div class="contact-body">
      <div class="author-img">
        <img src="../../../assets/backgrounds/profile_picture.png">
      </div>
      <div class="name bold">
        Magyar Dorina
      </div>
      <div class="contact-list">
        <div>magyardorina484@gmail.com</div>
        <div>06204448029</div>
      </div>
      <div class="logos">
        <img matTooltip="Instagram" src="https://img.icons8.com/fluency/100/000000/instagram-new.png"/>
        <img matTooltip="Facebook" src="https://img.icons8.com/color/100/000000/facebook-new.png"/>
        <img matTooltip="Gmail" src="https://img.icons8.com/color/100/000000/gmail--v1.png"/>
      </div>
    </div>
  </div>
</div>
<div class="contact-box">
  <div class="contact-title">
    {{'PAGE.ABOUT_US.CONTACT' | translate }}
  </div>
  <div class="secondary-box-shadow">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form style="margin-top: 2rem;" [formGroup]="form" (submit)="onAddMessage()" *ngIf="!isLoading">
      <label class="title">{{'FORM.ABOUT_US.TITLE' | translate}}</label>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.FIRST_NAME' | translate}}</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="form.get('firstName')?.invalid">Please enter your first Name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.LAST_NAME' | translate}}</mat-label>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="form.get('lastName')?.invalid">Please enter your last Name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.EMAIL' | translate}}</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.invalid">Please enter valid email.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.MESSAGE' | translate}}</mat-label>
        <textarea matInput rows="4" placeholder="Description" formControlName="description" required></textarea>
        <mat-error *ngIf="form.get('description')?.invalid">Please enter some text here.</mat-error>
      </mat-form-field>
      <div style="display: flex; align-items: center;">
        <mat-checkbox #confirmed></mat-checkbox>
        <label style="margin-left: 0.5rem; color: var(--white-color);">*{{'TEXT.ASZF' | translate}}</label>
      </div>
      <div class="contact-button">
        <button class="btn-cancel"(click)="clear()" >{{'GENERIC.ACTION.CANCEL' | translate}}</button>
        <button class="btn-secondary" type="submit" [disabled]="!confirmed.checked">{{'GENERIC.ACTION.SEND' | translate}}</button>
      </div>
    </form>
  </div>
</div>
