<div class="contact-images">
  <img id="contact-img" src="../../../assets/logos/logo_name.png">
</div>
<div class="contact-text">
  <div class="col contact-text-body">
  What is Lorem Ipsum?
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
  Aldus PageMaker including versions of Lorem Ipsum.
  <br>
  Why do we use it?
  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
  infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </div>
  <div class="contact-profile col">
    <div class="profile-header">
      <a id="profile-background"><img src="../../../assets/backgrounds/dektop.PNG"></a>
    </div>
    <div class="contact-body">
      <div class="author-img">
        <img src="../../../assets/backgrounds/profile_picture.png">
      </div>
      <div class="name bold">
        Magyar Dorina
      </div>
      <div class="contact-list">
        <div>magyardorina484@gmail.com</div>
        <div>06204448029</div>
      </div>
      <div class="logos">
        <img matTooltip="Instagram" src="https://img.icons8.com/fluency/100/000000/instagram-new.png"/>
        <img matTooltip="Facebook" src="https://img.icons8.com/color/100/000000/facebook-new.png"/>
        <img matTooltip="Gmail" src="https://img.icons8.com/color/100/000000/gmail--v1.png"/>
      </div>
    </div>
  </div>
</div>
<div class="contact-box">
  <div class="contact-title">
    {{'PAGE.ABOUT_US.CONTACT' | translate }}
  </div>
  <div class="secondary-box-shadow">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form style="margin-top: 2rem;" [formGroup]="form" (submit)="onAddMessage()" *ngIf="!isLoading">
      <label class="title">{{'FORM.ABOUT_US.TITLE' | translate}}</label>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.FIRST_NAME' | translate}}</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="form.get('firstName')?.invalid">Please enter your first Name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.LAST_NAME' | translate}}</mat-label>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="form.get('lastName')?.invalid">Please enter your last Name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.EMAIL' | translate}}</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.invalid">Please enter valid email.</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" class="btn-secondary" (click)="filePicker.click()" required>{{'FORM.ADD_PRODUCTS.PICK_IMAGE' | translate}}</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid">
        <img [src]="imagePreview" [alt]="form.value.fistName">
      </div>
      <mat-form-field appearance="outline">
        <mat-label>{{'FORM.ABOUT_US.MESSAGE' | translate}}</mat-label>
        <textarea matInput rows="4" placeholder="Description" formControlName="description" required></textarea>
        <mat-error *ngIf="form.get('description')?.invalid">Please enter some text here.</mat-error>
      </mat-form-field>
      <div style="display: flex; align-items: center;">
        <mat-checkbox #confirmed></mat-checkbox>
        <label style="margin-left: 0.5rem; color: var(--white-color);">*{{'TEXT.ASZF' | translate}}</label>
      </div>
      <div class="contact-button">
        <button class="btn-cancel"(click)="clear()" >{{'GENERIC.ACTION.CANCEL' | translate}}</button>
        <button class="btn-secondary" type="submit" [disabled]="!confirmed.checked">{{'GENERIC.ACTION.SEND' | translate}}</button>
      </div>
    </form>
  </div>
</div>
