<div class="chat-profile-box">
  <div class="chat-profile-header">
    <span matTooltip="Back" class="material-icons" (click)="backButton()">
      arrow_back
    </span>
    <div class="chat-header-title">Web beauty</div>
  </div>
  <div class="chat-profile-body" *ngIf="selectedChat">
    <div class="animated display-message">
      <div class="chat__message chat__message_B" style="--delay: 1s">
        <div class="chat__content">
          {{selectedChat.title}}
        </div>
      </div>
      <div class="chat__message chat__message_A" style="--delay: 3s">
        <div class="chat__content">
          {{selectedChat.description}}
        </div>
      </div>
      <div *ngIf="message">
        <div *ngFor="let msg of message; let i=index">
          <div class="chat__message chat__message_B" style="--delay: 1s">
            <div class="chat__content">
              {{message[i]}}
            </div>
          </div>
          <div class="chat__message chat__message_A" style="--delay: 3s">
            <div class="chat__content">
              {{selectedChat.contact}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="animated send-message">
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>{{'FORM.ADD_NEWS.DESCRIPTION' | translate}}</mat-label>
          <textarea matInput formControlName="message" rows="1" placeholder="message"></textarea>
        </mat-form-field>
      </form>
      <span matTooltip="Send message" class="material-icons" (click)="onSendText($event)">
        send
      </span>
    </div>
  </div>
</div>
