<div class="guide-body">
  <div>
    <h2>Így vásárolj</h2>
    <div>
      <div>Figyelem a vásárlás nem üzemel!</div>
      <ul>
        <li>
          Válaszd ki a megvásárolni kívánt terméket a nyitóoldalról vagy a fent felsorolt menüpontok használatával.
        </li>
        <li>
          Állítsd be az adott termékből megvásárolni kívánt mennyiséget. Alapértelmezetten 1 darab kerül a kosárba a kiválasztott termékből.
        </li>
        <li>A Vásárlás gombra kattintva helyezd a terméket virtuális kosaradba.</li>
        <li>A felugró ablak segítségével átnavigálhatsz a kosárra vagy folytathatod a vásárlást.</li>
        <li>A vásárlás befejezéséhez a kosárnál a Vásárlás gombra kattintva kezdheted meg a fizetést</li>
        <li>Miután áttekintetted a rendelésed és megfelelőnek találtad az adatokat, a kis négyzetbe kattintva tudod elfogadni Általános Szerződési Feltételeinket (Ezt a láblécben található ÁSZF menüpontra kattintva olvashatod el).</li>
        <li>Végül kattints a harmadik bogyón található “Vásárlás” gombra, ezzel véglegesítve a megrendelést.</li>
      </ul>
    </div>
  </div>
</div>
