<div class="products-list">
  <mat-grid-list cols="4" rowHeight="2:3" style="margin: 1rem;">
    <div *ngFor="let prod of productList">
      <mat-grid-tile>
        <mat-card class="card-box">
          <div class="products-img"><img [src]="prod.imagePath" style="width: 50%;"></div>
          <div>{{prod.name}}</div>
          <div>{{prod.price | currency :'HUF':'symbol':'4.0'}}</div>
          <div class="description">{{prod.description}}</div>
          <div class="button-read">
            <div class="pointer products-profile" (click)="onGetProduct(prod.id)">...read more</div>
            <button class="btn-main" style="max-height: 50px;" (click)="buy(prod)">Buy</button>
          </div>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
<!-- <div *ngFor="let group of groupList">
  <pre>{{group | json}}</pre>
</div> -->
