/* You can add global styles to this file, and also import other style files */
@import "./theme/theme.scss";

html, body {
  height: 100%;
  background-color: var(--white-color);
  /* @include ngx-popperjs-theme(var(--highlighter-color), var(--white-color)); */
}
* { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin box-shadow {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
  -moz-box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
  box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
}
@mixin button-properties {
  border-width: 2px;
  border-radius: 5px;
  min-width: 140px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 400;
  margin: 4px;
  transition: all 300ms ease-in-out;

  &:hover {
    @include box-shadow;
  }
}

.btn-cta {
  @include button-properties;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--secondary-color)
  ) !important;
  color: var(--white-color) !important;
  border: none !important;
  padding: 0.5rem 1.5rem !important;
}
.btn-main {
  @include button-properties;
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border: 1px solid var(--main-color) !important;
}
.btn-secondary {
  @include button-properties;
  background-color: var(--white-color) !important;
  color: var(--light-color) !important;
  border-color: var(--main-color) !important;
}
.btn-danger {
  @include button-properties;
  background-color: var(--danger-color) !important;
  color: var(--white-color) !important;
  border-color: var(--danger-color) !important;
}
.btn-success {
  @include button-properties;
  background-color: var(--success-color) !important;
  color: var(--white-color) !important;
  border-color: var(--success-color) !important;
}
.btn-warn {
  @include button-properties;
  background-color: var(--warning-color) !important;
  color: var(--white-color) !important;
  border-color: var(--warning-color) !important;
}
.btn-info {
  @include button-properties;
  background-color: var(--info-color) !important;
  color: var(--white-color) !important;
  border-color: var(--info-color) !important;
}
/* .btn-main-to-sec {
  @include button-properties;
  background: var(--main-to-sec-linear-gradient-v) !important;
  color: var(--white-color) !important;
  border: none !important;
} */
.btn-main-outlined {
  @include button-properties;
  background: var(--light-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--light-color) !important;
}
.btn-cancel {
  @include button-properties;
  background: var(--secondary-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--main-color) !important;
}
.btn-delete {
  @include button-properties;
  background: var(--warning-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--warning-color) !important;
}
.btn-highlighter {
  @include button-properties;
  background-color: var(--highlighter-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--highlighter-color) !important;
}

@mixin colored-box-shadow {
  @include box-shadow;
  margin: 1rem;
  padding: 1rem;
}
.white-box-shadow {
  @include colored-box-shadow;
  background-color: var(--white-color);
}
.primary-box-shadow {
  @include colored-box-shadow;
  background-color: var(--main-color);
}
.secondary-box-shadow {
  @include colored-box-shadow;
  background-color: var(--secondary-color);
}
.dark-box-shadow {
  @include colored-box-shadow;
  background-color: var(--dark-color);
}
.light-box-shadow {
  @include colored-box-shadow;
  background-color: var(--light-color);
}

mat-card {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.app-form.field {
  min-height: 110px;
  min-width: 220px;
  margin-bottom: 0.5rem;

  label {
    width: 100%;
  }
}

input[type="email"],
input[type="password"],
select {
  border-radius: 0 !important;
  border-width: 0 !important;
  /* background-color: var(--main-color) !important; */
  color: var(--light-color) !important;
  /* padding: 0.6rem 1rem !important; */

  &:disabled {
    filter: grayscale(0.8) !important;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--main-color) !important;
  margin: auto;
}

.mat-menu-item {
  color: var(--light-color) !important;
}
/* .mat-focus-indicator {
  display: flex !important;
  align-items: center;
} */

mat-paginator {
  background-color: var(--light-color) !important;
}

.mat-select-panel {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--light-color);
}

form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  input{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    border:0px;
    border-bottom: 2px solid #707070;
    font-size: 18px;
  }
}

table {
  background-color: var(--white-color) !important;
  width: 100%;
  th {
    background-color: var(--light-color);
    border: solid var(--light-color) 1px;
    color: var(--white-color) !important;
  }
  th.mat-header-cell {
    text-align: center;
  }
  th.mat-header-cell:first-of-type {
    padding-left: 0px;
  }
  th.mat-header-cell:last-of-type {
    padding-right: 0px;
  }
  td {
    border: solid var(--light-color) 1px;
    color: var(--light-color) !important;
  }
  td.mat-cell:first-of-type {
    padding-left: 0px;
  }
  td.mat-cell:last-of-type {
    padding-right: 0px;
  }
  tr:hover {
    background-color: var(--input-color);
  }

}

.color-primary {
  color: var(--main-color) !important;
}
.color-secondary {
  color: var(--secondary-color) !important;
}
.color-highlighter {
  color: var(--highlighter-color) !important;
}
.color-dark {
  color: var(--dark-color) !important;
}
.color-light {
  color: var(--light-color) !important;
}
.color-white {
  color: var(--white-color) !important;
}
.color-success {
  color: var(--success-color) !important;
}
.color-danger {
  color: var(--danger-color) !important;
}
.color-warning {
  color: var(--warning-color) !important;
}
.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
