<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell>ID</th>
    <td mat-cell> </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell>Title</th>
    <td mat-cell> </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell>Description</th>
    <td mat-cell> </td>
  </ng-container>
  <ng-container matColumnDef="images">
    <th mat-header-cell>Images</th>
    <td mat-cell> </td>
  </ng-container>
</table>
