table {
  background-color: var(--white-color);
  border: solid#0066CC 1px;
  width: 100%;
  th {
    background-color: #0066CC;
    /* border: solid var(--white-color) 1px; */
    color: var(--white-color);
  }
  td {
    /* border: solid#0066CC 1px; */
    color: #0066CC;
  }

  tr:hover {
    background-color: var(--warning-color);
  }

  td:hover {
    color: var(--white-color) !important;
  }

}
