<div>
  <table  mat-table [dataSource]="messages">
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>{{'TABLE.FULL_NAME' | translate}}</th>
      <td mat-cell *matCellDef="let msg">{{msg.lastName}} {{msg.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{'TABLE.EMAIL' | translate}}</th>
      <td mat-cell *matCellDef="let msg">{{msg.email}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>{{'TABLE.DESCRIPTION' | translate}}</th>
      <td mat-cell *matCellDef="let msg">{{msg.description}}</td>
    </ng-container>
   <!--  <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>{{'TABLE.IMAGE' | translate}}</th>
      <td mat-cell *matCellDef="let msg">
        <div class="prod-image">
          <img [src]="msg.imagePath" [alt]="msg.name">
        </div>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef>{{'TABLE.MENU' | translate}}</th>
      <td mat-cell *matCellDef="let msg">
        <button mat-button [matMenuTriggerFor]="menu">...</button>
          <mat-menu #menu="matMenu" class="btn-main">
            <button mat-menu-item  matTooltip="Delete this message" (click)="onDelete(msg.id)">
              <span class="material-icons">
                delete
              </span>
              {{'GENERIC.ACTION.DELETE' | translate}}
            </button>
          </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
