<div class="img-box">
  <img src="../../../assets/logos/logo_name.png">
</div>
<carousel class="home-box-shadow row">
  <div *ngFor="let news of newsList" class="news">
    <div class="news-box">
      <div class="col">
        <div class="home-title">{{news.title}}</div>
        <div class="home-description">{{news.description}}</div>
      </div>
      <div class="col w-100">
        <img [src]="news.imagePath" [alt]="news.title" class="home-image">
      </div>
    </div>
  </div>
</carousel>
