.img-box {
    display: flex;
    justify-content: center;
}

img {
 width: 80%;   
}

.news-box {
    display: flex;
    min-width: 500px;
    padding: 1rem;
    margin: 1rem;
}

.home-image{
    width: 100%;
}

.home-box-shadow {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
    -moz-box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
    box-shadow: 0px 4px 10px 0px rgba(var(--dark-color-v), 0.3);
    background-color: var(--main-color);
    padding: 1rem;
    margin: auto;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}