<div class="img-box">
  <img src="../../../assets/logos/logo_name.png">
</div>
<carousel class="home-box-shadow"
    [objectFit]="'cover'"
		[cellWidth]="'100%'"
		[height]="500">
  <div *ngFor="let news of newsList" class="news carousel-cell">
    <div class="news-box">
      <div class="col" style="width: 500px; margin-left: 2rem;">
        <div class="home-title">{{news.title}}</div>
        <div class="home-description">{{news.description}}</div>
      </div>
      <div class="col img-carousel-box">
        <img [src]="news.imagePath" [alt]="news.title" class="home-image">
      </div>
    </div>
  </div>
</carousel>
<div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
  </mat-grid-list>
</div>
