<footer class="md-padding">
  <div id="footer-bsc">
    <div class="col">
      <a id="logo_monogram"><img src="../../../assets/logos/logo_monogram_dark.png"></a>
      <div class="text">
        <p>{{'TEXT.AUTHOR' | translate}}: <b>Magyar Dorina</b></p>
        <p>2021</p>
      </div>
    </div>
    <div class="col list">
      <ul style="list-style-type: none; line-height: 30px; z-index: 11;">
        <li [routerLink]="['/aszf']" class="pointer">{{'TEXT.GTC' | translate}}</li>
        <li [routerLink]="['/privacy']" class="pointer">{{'TEXT.PRIVACY' | translate}}</li>
        <li [routerLink]="['/guide']" class="pointer">{{'TEXT.GUIDE' | translate}}</li>
        <li [routerLink]="['/payment']" class="pointer">{{'TEXT.PAYMENT' | translate}}</li>
      </ul>
    </div>
  </div>
</footer>
