footer{
  background-color: var(--main-color);
  border-top: 1px solid var(--highlighter-color);
  margin-top: 2rem;
}

#footer-bsc {
  display: flex;
}

img {
  width: 15%;
}

#logo_monogram {
  display: flex;
  justify-content: center;
}

.text {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
