<footer class="md-padding">
  <div id="footer-bsc">
    <div class="col">
      <a id="logo_monogram"><img src="../../../assets/logos/logo_monogram.png"></a>
      <div class="text">
        <p>Készítette: <b>Magyar Dorina</b></p>
        <p>2021</p>
      </div>
    </div>
    <div class="col list">
      <ul style="list-style-type: none; line-height: 30px;">
        <li>ÁSZF</li>
        <li>Adatkezelési Tájékoztató</li>
        <li>Vásárlási Útmutató</li>
        <li>Fizetési Tájékoztató</li>
      </ul>
    </div>
  </div>
</footer>
