footer{
  background-color: var(--main-color);
  border-top: 1px solid var(--highlighter-color);
  margin-top: 2rem;
  height: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-bsc {
  display: flex;
  align-items: center;
}

.mobile {
  @media screen and (max-width: 660px){
    width: 130px;
  }
}

img {
  width: 15%;
  @media screen and (max-width: 660px){
    display: none;
  }

}

#logo_monogram {
  display: flex;
  justify-content: center;
}

.text {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
