.menu-vertical{
    display: flex;
    background-color: var(--main-color);
    padding: 1rem;
  }

  .navbar-collapse {
    display: flex;
    align-items: center;
    width: 500%;
  }

  .nav-bar{
    display: flex;
    list-style-type: none;
  }

  .nav-item a{
    color: var(--highlighter-color);
    font-size: 20px;
    cursor: pointer;
  }

  .nav-item a:hover,
  label:hover {
    text-decoration: none;
    color: var(--highlighter-color);
  }

  .selected {
    background-color: var(--light-color);
  }

  .mat-menu-item{
    background-color: var(--main-color) !important;
  }

  .navbar-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #logo_monogram {
    display: contents;
  }

  img {
    width: 40%;
    margin-right: 3rem;
  }
