<nav class="menu-vertical">
    <div class="navbar-collapse">
      <ul class="nav-bar">
        <li class="nav-item noselect">
          <button mat-button [routerLink]="['/home']" [routerLinkActive]="['selected']"><a>Home</a></button>
        </li>
        <li class="nav-item noselect">
          <button mat-button [routerLink]="['/news']" [routerLinkActive]="['selected']"><a>News</a></button>
        </li>
        <li class="nav-item noselect">
          <button mat-button [matMenuTriggerFor]="products" [routerLink]="['/products']" [routerLinkActive]="['selected']"><a>Products</a></button>
          <mat-menu #products="matMenu">
            <button mat-menu-item>group1</button>
            <button mat-menu-item>group2</button>
            <button mat-menu-item>group3</button>
            <button mat-menu-item>group4</button>
          </mat-menu>
        </li>
        <li class="nav-item noselect" [routerLink]="['/contact']" [routerLinkActive]="['selected']">
          <button mat-button><a>About us</a></button>
        </li>
      </ul>
    </div>
    <div class="navbar-icons">
      <span class="material-icons" style="color: brown;">search</span>
      <span
        class="material-icons"
        style="color: brown;"
        matBadgeColor="warn"
        matBadge="7"
        [matBadgeHidden]="hidden"
        [routerLink]="['/carts']"
        (click)="toggleBadgeVisibility()"
      >
        shopping_cart
      </span>
      <a id="logo_monogram"><img src="../../../assets/logos/logo_monogram.png" class="pointer" [routerLink]="['/home']"></a>
    </div>
  </nav>
  <!--
  <div class="d-flex flex-wrap justify-content-around pt-5">
    <button class="btn btn-success" (click)="alert.success('ALERT.SUCC_SAVE')">Success</button>
    <button class="btn btn-danger" (click)="alert.error('ALERT.ERR_GENERIC')">Error</button>
    <button class="btn btn-warn" (click)="alert.warn('ALERT.INVALID_FORM')">Warn</button>
    <button class="btn btn-info" (click)="alert.info('ALERT.INFO')">Info</button>
  </div> -->
