<mat-card class="primary-box-shadow">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddNews()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" class="btn-secondary" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="description" placeholder="description"></textarea>
      <mat-error *ngIf="form.get('description')?.invalid">Please enter a post description.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      class="btn-warn"
      type="submit">Save post</button>
  </form>
</mat-card>
