<div class="aszf-body">
  <div class="aszf-button">
    <button class="btn-main">Letöltés PDF</button>
  </div>
  <div><h1>Általános Szerződési Feltételek (ÁSZF) minta</h1></div>
  <div class="introduction">
    Az Általános Szolgáltatási Feltételek („ÁSZF”) tartalmazzák "Web Beauty" cég
    (székhely: .............., adószám: .....................),
    mint szolgáltató (“Szolgáltató”) által üzemeltetett webáruház használatára vonatkozó
    általános szerződési feltételeket. Kérjük, hogy csak akkor vegye igénybe szolgáltatásainkat,
    amennyiben minden pontjával egyetért, és kötelező érvényűnek tekinti magára nézve.
    Jelen dokumentum nem kerül iktatásra, kizárólag elektronikus formában kerül megkötésre
    (nem minősül írásba foglalt szerződésnek), magatartási kódexre nem utal.
  </div>
  <div>
    <h2>Szolgáltató adatai:</h2>
    <ul>
      <li>A szolgáltató neve:</li>
      <li>A szolgáltató székhelye:</li>
      <li>A szolgáltató elérhetősége, az igénybe vevőkkel való kapcsolattartásra szolgáló, rendszeresen használt elektronikus levelezési címe:</li>
      <li>Cégjegyzékszáma:</li>
      <li>Adószáma:</li>
      <li>Nyilvántartásban bejegyző hatóság neve (cégbíróság):</li>
      <li>Telefonszámai:</li>
      <li>Adatvédelmi nyilvántartási száma:</li>
      <li>Engedély száma:</li>
      <li>A szerződés nyelve: magyar</li>
      <li>A tárhely-szolgáltató adatai:</li>
    </ul>
  </div>
  <div>
    <div><h2>Alapvető rendelkezések</h2></div>
    <div>
      1.1. A jelen Szabályzatban nem szabályozott kérdésekre, valamint jelen Szabályzat
      értelmezésére a magyar jog az irányadó, különös tekintettel a Polgári Törvénykönyvről
      szóló 2013. évi V. törvény („Ptk.”) és az elektronikus kereskedelmi szolgáltatások,
      valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről
      szóló 2001. évi CVIII. törvény vonatkozó rendelkezéseire. A vonatkozó jogszabályok
      kötelező rendelkezései a felekre külön kikötés nélkül is irányadók.
    </div>
    <div>
      1.2. Hatály, az ÁSZF módosítása.
    </div>
    <div>1.3. A webshop, mint szerzői jogi mű szerzői jogi védelme, erre figyelemfelhívás.</div>
    <div>1.4. Rendelkezésre állás.</div>
  </div>
  <div>
    <div><h2>Adatkezelési szabályok</h2></div>
    <div>1.5. Utalni kell az adatvédelmi tájékoztató elérhetőségére, fel kell tüntetni az
      adatvédelmi nyilvántartási számot.</div>
  </div>
  <div>
    <div><h2>Megvásárolható termékek, szolgáltatások köre</h2></div>
    <div>
      1.6. Utalni kell arra, hogy a megjelenített termékek csak online, vagy személyesen is
      megvásárolhatók-e. A termékek tartalmazzák-e az Áfát. Tartalmazzák-e a
      házhozszállítási díjat, illetve a csomagolási díjat.
    </div>
    <div>
      1.7. A webshopban Szolgáltató részletesen feltünteti a termék nevét, leírását, a
      termékekről fotót jelenítet meg. A termékek adatlapján megjelenített képek eltérhetnek a
      valóságostól, bizonyos esetekben illusztrációként szerepelnek.
    </div>
    <div>
      1.8. Amennyiben akciós ár kerül bevezetésre, Szolgáltató teljes körűen tájékoztatja
      Felhasználókat az akció időtartamáról.
    </div>
  </div>
  <div>
    <div><h2>Rendelés menete</h2></div>
    <div>1.9. A rendelés menetének részletes leírása, a bejelentkezésről a termék kosárba
      helyezéséig.
      </div>
    <div>1.10. Adatbeviteli hibák kijavítására vonatkozó lehetőségek (pl. plusz termék, termék
      törlése, ár ellenőrzése stb.)
      </div>
    <div>1.11. Fizetési lehetőségek, szállítási módok leírása</div>
    <div>1.12. A szolgáltató webáruház köteles az igénybe vevő megrendelésének
      megérkezését az igénybe vevő felé elektronikus úton haladéktalanul visszaigazolni.
      Amennyiben e visszaigazolás az igénybe vevő megrendelésének elküldésétől
      számított, a szolgáltatás jellegétől függő elvárható határidőn belül, de legkésőbb 48
      órán belül az igénybe vevőhöz nem érkezik meg, az igénybe vevő mentesül az ajánlati
      kötöttség vagy szerződéses kötelezettség alól. megrendelés és annak visszaigazolása
      akkor tekintendő a szolgáltatóhoz, illetve az igénybe vevőhöz megérkezettnek, amikor
      az számára hozzáférhetővé válik. A fenti szabályoktól eltérhetnek a felek, ha ebben
      megállapodtak.
      </div>
  </div>
  <div>
    <div><h2>A megrendelések feldolgozása és teljesítés</h2></div>
    <div>1.13. A megrendelések feldolgozása mikor történik</div>
    <div>1.14. Általános teljesítési határidő, a visszaigazolástól számított x munkanapon belül.
      Ha Szolgáltató és Felhasználó a teljesítés időpontjában nem állapodtak meg,
      Szolgáltató Felhasználó felszólításában meghatározott időpontban vagy időn belül,
      felszólítás hiányában legkésőbb a megrendelésnek Szolgáltatóhoz való megérkezésétől
      számított harminc napon belül köteles a szerződés szerinti teljesítésre.
      </div>
    <div>1.15. Ha Szolgáltató a szerződésben vállalt kötelezettségét azért nem teljesíti, mert a
      szerződésben meghatározott termék nem áll rendelkezésére, köteles erről Felhasználót
      haladéktalanul tájékoztatni, valamint Felhasználó által fizetett összeget haladéktalanul,
      de legkésőbb harminc napon belül visszatéríteni. E kötelezettség teljesítése
      Szolgáltatót nem mentesíti szerződésszegése egyéb következményei alól.</div>
  </div>
  <div>
    <div><h2>Elállás joga</h2></div>
    <div>1.16. A fogyasztó és a vállalkozás közötti szerződések részletes szabályairól szóló
      45/2014. (II.26.) Korm. rendelet szabályozása értelmében Felhasználó a megrendelt
      termék kézhez vételétől számított 14 napon belül indoklás nélkül elállhat a szerződéstől,
      visszaküldheti a megrendelt terméket.
      </div>
    <div>1.17. Az elállási jog gyakorlásának menete... (mikor élhet vele a vásárló, mikor nem,
      haladéktalanul, de legkésőbb 14 napon belül visszautalja a webáruház az árat,
      kivételek stb.)</div>
  </div><div>
    <div><h2>Garancia, jótállás</h2></div>
    <div>1.18. Termékeinkre X hónap garanciát vállalunk. Meghibásodás esetén a garancia
      levélben található szervizek bármelyikében személyesen vagy telefonon tájékoztatják a
      teendőkről, illetve elérhetőségeink valamelyikén is tájékoztatást nyújtunk. Lásd még:
      151/2003. Korm. rendelet. A PTK-féle jótállás, kellékszavatosság, termékszavatosság
      szabályai.
      </div>
  </div>
  <div>
    <div><h2>Panaszkezelés</h2></div>
    <div>1.19. A webshop köteles a fogyasztót tájékoztatni a székhelyéről, a panaszügyintézés
      helyéről - ha az nem egyezik meg a forgalmazás, illetve értékesítés helyével - és az
      adott tevékenység, kereskedelmi forma vagy módszer sajátosságaihoz igazodó
      módjáról, valamint a panaszok közlése érdekében a vállalkozás vagy a vállalkozás
      ügyfélszolgálatának levelezési címéről és - ha a panaszokat ilyen módon is fogadja -
      elektronikus levelezési címéről, illetve internetes címéről, telefonszámáról.
      </div>
  </div>
  <div>
    <div><h2>Vegyes rendelkezések</h2></div>
    <div>1.20. Szolgáltató és Felhasználó vitás ügyeiket békés úton próbálják rendezni.
      Felhasználó és a Szolgáltató a jelen Szabályzat hatálya alá tartozó, megegyezéssel 30
      (harminc) naptári nap alatt nem rendezhető esetleges jogvitákra nézve kikötik a ......
      Bíróság/Törvényszék illetékességét.
      </div>
  </div>
  <div>
    <div>Város, 2019. ....hó ...nap</div>
  </div>
  <div>
    FIGYELEM!!! Jelen webáruház nem üzemel! Ezek a termékek nem kerülnek értékesítésre!
    Ez a webáruház kifejezetten csak Magyar Dorina 2021-évi szakdolgozati munkájának bemutatására szolgál!
  </div>
</div>
