<div class="aszf-body">
  <div class="aszf-button">
    <button class="btn-main">{{'GENERIC.ACTION.PDF' | translate}}</button>
  </div>
  <div *ngIf="language === 'hu'; else en">
    <div><h1>Általános Szerződési Feltételek (ÁSZF) minta</h1></div>
    <div class="introduction">
      Az Általános Szolgáltatási Feltételek („ÁSZF”) tartalmazzák "Web Beauty" cég
      (székhely: .............., adószám: .....................),
      mint szolgáltató (“Szolgáltató”) által üzemeltetett webáruház használatára vonatkozó
      általános szerződési feltételeket. Kérjük, hogy csak akkor vegye igénybe szolgáltatásainkat,
      amennyiben minden pontjával egyetért, és kötelező érvényűnek tekinti magára nézve.
      Jelen dokumentum nem kerül iktatásra, kizárólag elektronikus formában kerül megkötésre
      (nem minősül írásba foglalt szerződésnek), magatartási kódexre nem utal.
    </div>
    <div>
      <h2>Szolgáltató adatai:</h2>
      <ul>
        <li>A szolgáltató neve:</li>
        <li>A szolgáltató székhelye:</li>
        <li>A szolgáltató elérhetősége, az igénybe vevőkkel való kapcsolattartásra szolgáló, rendszeresen használt elektronikus levelezési címe:</li>
        <li>Cégjegyzékszáma:</li>
        <li>Adószáma:</li>
        <li>Nyilvántartásban bejegyző hatóság neve (cégbíróság):</li>
        <li>Telefonszámai:</li>
        <li>Adatvédelmi nyilvántartási száma:</li>
        <li>Engedély száma:</li>
        <li>A szerződés nyelve: magyar</li>
        <li>A tárhely-szolgáltató adatai:</li>
      </ul>
    </div>
    <div>
      <div><h2>Alapvető rendelkezések</h2></div>
      <div>
        1.1. A jelen Szabályzatban nem szabályozott kérdésekre, valamint jelen Szabályzat
        értelmezésére a magyar jog az irányadó, különös tekintettel a Polgári Törvénykönyvről
        szóló 2013. évi V. törvény („Ptk.”) és az elektronikus kereskedelmi szolgáltatások,
        valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről
        szóló 2001. évi CVIII. törvény vonatkozó rendelkezéseire. A vonatkozó jogszabályok
        kötelező rendelkezései a felekre külön kikötés nélkül is irányadók.
      </div>
      <div>
        1.2. Hatály, az ÁSZF módosítása.
      </div>
      <div>1.3. A webshop, mint szerzői jogi mű szerzői jogi védelme, erre figyelemfelhívás.</div>
      <div>1.4. Rendelkezésre állás.</div>
    </div>
    <div>
      <div><h2>Adatkezelési szabályok</h2></div>
      <div>1.5. Utalni kell az adatvédelmi tájékoztató elérhetőségére, fel kell tüntetni az
        adatvédelmi nyilvántartási számot.</div>
    </div>
    <div>
      <div><h2>Megvásárolható termékek, szolgáltatások köre</h2></div>
      <div>
        1.6. Utalni kell arra, hogy a megjelenített termékek csak online, vagy személyesen is
        megvásárolhatók-e. A termékek tartalmazzák-e az Áfát. Tartalmazzák-e a
        házhozszállítási díjat, illetve a csomagolási díjat.
      </div>
      <div>
        1.7. A webshopban Szolgáltató részletesen feltünteti a termék nevét, leírását, a
        termékekről fotót jelenítet meg. A termékek adatlapján megjelenített képek eltérhetnek a
        valóságostól, bizonyos esetekben illusztrációként szerepelnek.
      </div>
      <div>
        1.8. Amennyiben akciós ár kerül bevezetésre, Szolgáltató teljes körűen tájékoztatja
        Felhasználókat az akció időtartamáról.
      </div>
    </div>
    <div>
      <div><h2>Rendelés menete</h2></div>
      <div>1.9. A rendelés menetének részletes leírása, a bejelentkezésről a termék kosárba
        helyezéséig.
        </div>
      <div>1.10. Adatbeviteli hibák kijavítására vonatkozó lehetőségek (pl. plusz termék, termék
        törlése, ár ellenőrzése stb.)
        </div>
      <div>1.11. Fizetési lehetőségek, szállítási módok leírása</div>
      <div>1.12. A szolgáltató webáruház köteles az igénybe vevő megrendelésének
        megérkezését az igénybe vevő felé elektronikus úton haladéktalanul visszaigazolni.
        Amennyiben e visszaigazolás az igénybe vevő megrendelésének elküldésétől
        számított, a szolgáltatás jellegétől függő elvárható határidőn belül, de legkésőbb 48
        órán belül az igénybe vevőhöz nem érkezik meg, az igénybe vevő mentesül az ajánlati
        kötöttség vagy szerződéses kötelezettség alól. megrendelés és annak visszaigazolása
        akkor tekintendő a szolgáltatóhoz, illetve az igénybe vevőhöz megérkezettnek, amikor
        az számára hozzáférhetővé válik. A fenti szabályoktól eltérhetnek a felek, ha ebben
        megállapodtak.
        </div>
    </div>
    <div>
      <div><h2>A megrendelések feldolgozása és teljesítés</h2></div>
      <div>1.13. A megrendelések feldolgozása mikor történik</div>
      <div>1.14. Általános teljesítési határidő, a visszaigazolástól számított x munkanapon belül.
        Ha Szolgáltató és Felhasználó a teljesítés időpontjában nem állapodtak meg,
        Szolgáltató Felhasználó felszólításában meghatározott időpontban vagy időn belül,
        felszólítás hiányában legkésőbb a megrendelésnek Szolgáltatóhoz való megérkezésétől
        számított harminc napon belül köteles a szerződés szerinti teljesítésre.
        </div>
      <div>1.15. Ha Szolgáltató a szerződésben vállalt kötelezettségét azért nem teljesíti, mert a
        szerződésben meghatározott termék nem áll rendelkezésére, köteles erről Felhasználót
        haladéktalanul tájékoztatni, valamint Felhasználó által fizetett összeget haladéktalanul,
        de legkésőbb harminc napon belül visszatéríteni. E kötelezettség teljesítése
        Szolgáltatót nem mentesíti szerződésszegése egyéb következményei alól.</div>
    </div>
    <div>
      <div><h2>Elállás joga</h2></div>
      <div>1.16. A fogyasztó és a vállalkozás közötti szerződések részletes szabályairól szóló
        45/2014. (II.26.) Korm. rendelet szabályozása értelmében Felhasználó a megrendelt
        termék kézhez vételétől számított 14 napon belül indoklás nélkül elállhat a szerződéstől,
        visszaküldheti a megrendelt terméket.
        </div>
      <div>1.17. Az elállási jog gyakorlásának menete... (mikor élhet vele a vásárló, mikor nem,
        haladéktalanul, de legkésőbb 14 napon belül visszautalja a webáruház az árat,
        kivételek stb.)</div>
    </div><div>
      <div><h2>Garancia, jótállás</h2></div>
      <div>1.18. Termékeinkre X hónap garanciát vállalunk. Meghibásodás esetén a garancia
        levélben található szervizek bármelyikében személyesen vagy telefonon tájékoztatják a
        teendőkről, illetve elérhetőségeink valamelyikén is tájékoztatást nyújtunk. Lásd még:
        151/2003. Korm. rendelet. A PTK-féle jótállás, kellékszavatosság, termékszavatosság
        szabályai.
        </div>
    </div>
    <div>
      <div><h2>Panaszkezelés</h2></div>
      <div>1.19. A webshop köteles a fogyasztót tájékoztatni a székhelyéről, a panaszügyintézés
        helyéről - ha az nem egyezik meg a forgalmazás, illetve értékesítés helyével - és az
        adott tevékenység, kereskedelmi forma vagy módszer sajátosságaihoz igazodó
        módjáról, valamint a panaszok közlése érdekében a vállalkozás vagy a vállalkozás
        ügyfélszolgálatának levelezési címéről és - ha a panaszokat ilyen módon is fogadja -
        elektronikus levelezési címéről, illetve internetes címéről, telefonszámáról.
        </div>
    </div>
    <div>
      <div><h2>Vegyes rendelkezések</h2></div>
      <div>1.20. Szolgáltató és Felhasználó vitás ügyeiket békés úton próbálják rendezni.
        Felhasználó és a Szolgáltató a jelen Szabályzat hatálya alá tartozó, megegyezéssel 30
        (harminc) naptári nap alatt nem rendezhető esetleges jogvitákra nézve kikötik a ......
        Bíróság/Törvényszék illetékességét.
        </div>
    </div>
    <div>
      <div>Város, 2021. ....hó ...nap</div>
    </div>
    <div>
      FIGYELEM!!! Jelen webáruház nem üzemel! Ezek a termékek nem kerülnek értékesítésre!
      Ez a webáruház kifejezetten csak Magyar Dorina 2021-évi szakdolgozati munkájának bemutatására szolgál!
    </div>
  </div>
</div>
<ng-template #en>
  <div><h1>General Terms and Conditions (GTC) model</h1></div>
  <div class="introduction">
    The General Terms and Conditions of Service ("GTC") contain the general terms and conditions for the use of the webshop operated by "Web Beauty"
    (registered office: .............., tax number: .....................) as a service provider ("Service Provider").
    Please only use our services if you agree with all of its points and consider yourself bound by them.
    This document is not filed, is concluded in electronic form only (it does not constitute a written contract) and does not refer to a code of conduct.
  </div>
  <div>
    <h2>Service provider details:</h2>
    <ul>
      <li>Name of the service provider:</li>
      <li>Head office of the provider:</li>
      <li>Contact details of the provider, his electronic mail address regularly used for contacting users:</li>
      <li>Company registration number:</li>
      <li>Tax number:</li>
      <li>Name of the authority registering the service provider (court of registration):</li>
      <li>Telephone numbers:</li>
      <li>Data protection registration number:</li>
      <li>Licence number:</li>
      <li>Language of the contract: English</li>
      <li>Details of the hosting provider:</li>
    </ul>
  </div>
  <div>
    <div><h2>Basic provisions</h2></div>
    <div>
      1.1 Hungarian law shall govern the matters not regulated in these Rules and the interpretation of these Rules,
      in particular the relevant provisions of Act V of 2013 on the Civil Code ("Civil Code") and Act CVIII of 2001 on certain issues of electronic commerce services and
      information society services. The mandatory provisions of the relevant legislation shall apply to the parties without any specific stipulation.
    </div>
    <div>
      1.2 Scope, amendment of the GTC.
    </div>
    <div>
      1.3 Copyright protection of the webshop as a copyright work, attention is drawn to this.
    </div>
    <div>
      1.4 Availability.
    </div>
    <div>
      <div><h2>Data management rules</h2></div>
      <div>
        1.5. reference to the contact details of the privacy statement, indicating the data protection registration number.
        Scope of products and services available for purchase
      </div>
      <div>
        1.6 Indicate whether the products displayed can be purchased online only or in person. Whether the products include VAT. Do they include delivery charges or packaging charges.
      </div>
      <div>
       1.7 In the webshop, the Service Provider shall provide details of the name of the product, its description and a photo of the products. The images displayed on the
       product data
       sheets may differ from the real product, in some cases they are used as illustrations.
      </div>
      <div>
        1.8 If a special price is introduced, the Service Provider shall fully inform the Users of the duration of the special offer.
      </div>
      <div>
        <div><h2>Ordering procedure</h2></div>
        <div>
          1.9. A detailed description of the order process, from check-in to adding the product to your shopping cart.
        </div>
        <div>
          1.10. Possibilities to correct data entry errors (e.g. extra product, product deletion, price check, etc.)
        </div>
        <div>
          1.11. Description of payment options, delivery methods
        </div>
        <div>
          1.12. The service provider webshop is obliged to confirm the receipt of the user's order to the user by electronic means without delay. If this confirmation has not
          been received
          by the user within a reasonable period of time from the date of sending the user's order, depending on the nature of the service, but not later than 48 hours,
          the use shall be
          released from the obligation to make an offer or to enter into a contract. The parties may derogate from the above rules if they have so agreed.
        </div>
        <div>
          <div><h2>Processing and execution of orders</h2></div>
          <div>
            1.13. When are orders processed
          </div>
          <div>
            1.14. General time limit for execution, within x working days from the date of confirmation. If the Service Provider and the User have not agreed on the time of execution,
            the Service Provider shall be obliged to execute the order in accordance with the contract within the time or date specified in the User's request, or in the absence of
            a request,
            within 30 days of the receipt of the order by the Service Provider at the latest.
          </div>
          <div>
            1.15. If the Service Provider fails to fulfil its contractual obligations because the product specified in the contract is not available, it shall immediately inform the
            User thereof and refund the amount paid by the User without delay, but no later than within thirty days. The fulfilment of this obligation shall not relieve the Service
            Provider of any other consequences of its breach of contract.
          </div>
        </div>
        <div>
          <div><h2>Right of withdrawal</h2></div>
          <div>
            1.16. Pursuant to the provisions of Government Decree No. 45/2014 (II.26.) on the detailed rules of contracts between consumers and businesses,
            the User may withdraw from the contract within 14 days of receipt of the ordered product without giving any reason, and may return the ordered product.
          </div>
          <div>
            1.17. The procedure for exercising the right of withdrawal... (when the customer can exercise it, when not, the online shop will refund the price immediately,
            but within 14 days at the latest, exceptions, etc.)
          </div>
        </div>
        <div>
          <div><h2>Warranty, guarantee</h2></div>
          <div>1.18. Our products are guaranteed for X months. In the event of a breakdown, you can contact any of the service centres listed in the warranty letter for information
            in person or by telephone,
            or you can contact one of our contact details. See also Decree 151/2003 of the Government. 151.1.
          </div>
        </div>
        <div>
          <div><h2>Complaints handling</h2></div>
          <div>
            1.19. The webshop must inform the consumer of its registered office, the place where complaints can be lodged, if different from the place of distribution or sale,
            and the method adapted to the specific nature of the activity, commercial form or method, as well as the mailing address and, if complaints are received in this way,
            the e-mail address and Internet address and telephone number of the business or the business's customer service department for the purpose of communicating complaints.
          </div>
        </div>
        <div>
          <div><h2>Miscellaneous provisions</h2></div>
          <div>
            1.20. The Service Provider and the User shall try to settle their disputes amicably. The User and the Service Provider agree that, in the event of any dispute
            covered by these Terms and Conditions which cannot be settled by mutual agreement within 30 (thirty) calendar days, the User and the Service Provider shall agree to
            resolve such dispute by means of the ...... Court/Tribunal of Jurisdiction.
          </div>
        </div>
      </div>
      <div>
        <div>City, 2020. ....month ...day</div>
      </div>
      <div>
        ATTENTION!!! This webshop is not in operation! These products are not for sale! This webshop is specifically designed to
        showcase Dorina Magyar's thesis work for the year 2021!
      </div>
      <div>
        Translated with www.DeepL.com/Translator (free version)
      </div>
    </div>
  </div>
</ng-template>
