#add-user-text{
    font-size: 32px;
    color: var(--white-color);
    font-weight: bold;
    padding-bottom: 50px;
}
#button-container{
    display: flex;
    justify-content: center;
}

.add-user-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

